<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>

    <body>
        <ul>
        <% todolist.forEach(function(todo, index){ %>
            <li><a href="/list/delete/<%= index %>">✘</a> <%= todo %></li>
        <% }); %>
        </ul>

        <form action="/list/ajouter/" method="post">
            <label for="newtodo">Que dois-je faire ?</label>
            <input type="text" name="newtodo" id="newtodo" autofocus>
            <input type="submit" value="envoyer">
        </form>
    </body>
</html>
