<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body class="container">
        <h2 class="text-center mb-4"><%= title %></h2>
        <div class="container">
            <form action="" method="post" id="formulaire_chat" class="form-inline justify-content-center">
                <input type="text" name="texto" id="texto" class="form-control" focus>
                <input type="submit" value="envoyer" id="send" class="btn btn-outline-success">
                <button type="button" id="setPseudo" class="btn btn-outline-warning m-2" name="button">changer votre pseudo</button>
            </form>
        </div>

        <div class="justify-content-center p-2 m-2">
            <ul id="tchat">
            </ul>
        </div>

    </body>
        <script src="/js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script>
        $(function()
        {
            var socket = io();
            //==================================================================
            //recupére pseudo
            var seed = false
            while (!seed)
            {
                var pseudo = prompt('Quel est votre pseudo ?');
                if (pseudo == '')
                {
                    var pseudo = prompt('Quel est votre pseudo ?');
                    seed = false;
                }
                else
                {
                    socket.emit('recupPseudo', pseudo, '', '');
                    seed = true;
                }
            }
            /*var pseudo = prompt('Quel est votre pseudo ?');
            if (pseudo != '')
            {
                socket.emit('recupPseudo', pseudo);
            }*/
            //==================================================================
            // affiche message lors de la deconnexion/rechargement de la page
            socket.on('deconnexion', function(pseudoDeco)
            {
                if (pseudoDeco != null)
                {
                    $('#tchat').prepend('<li><i class="text-danger">'+pseudoDeco+' c\'est deconnecter'+'</i></li>');
                }

            });
            //==================================================================
            // affiche le pseudo
            socket.on('recupPseudo', function(pseudo, setPseudo, pseudoSav)
            {
                if (pseudo != '')
                {
                    $('#tchat').prepend('<li><i class="text-success">'+pseudo+' à rejoint le channel'+'</i></li>');
                }

                if(setPseudo != '')
                {
                    $('#tchat').prepend('<li><i class="text-warning"><strong class="text-primary">'+pseudoSav+'</strong> viens de changer son pseudo en => '+setPseudo+'</i></li>');
                }
            });
            //==================================================================
            // changement de pseudo
            $('#setPseudo').click(function()
            {
                var setPseudo =  prompt('Changement de pseudo ?');

                socket.emit('recupPseudo','', setPseudo, '');
            });
            //==================================================================
            // recoit message et l'affiche
            socket.on('recupMsg', function(data)
            {
                $('#tchat').prepend('<li><strong class="text-primary">'+data.pseudo+'</strong>'+' dit : '+data.message+'</li>');
            });
            //==================================================================
            // on "valide" le formulaire_chat
            $('#formulaire_chat').submit(function()
            {
                var message = $('#texto').val();
                if (message != '')
                {
                    socket.emit('recupMsg', message);
                    $('#texto').val('').focus();
                    return false;
                }
                else
                {
                    return false;
                }
            });
        });
        //======================================================================
        </script>
</html>
